@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    margin: 0;
}

.slick-dots li button:before {
  color: #bbb;
  opacity: 1;
  font-size: 13px;
  margin-top: 40px;
}

.slick-dots li.slick-active button:before {
  color: #0066FF;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}